header{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.top_logo_area{
  width: 80%;
  height: 162px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 90px;
  height: 90px;
}

.logo>img{
  width: 90px;
  height: 90px;
}

.name{
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.side_icon{
  display: flex;
  justify-content: end;
}

.wishlist{
  background: url(../nescafe/img/icon.png) no-repeat -634px -141px;
  width: 21px;
	height: 24px;
}

.myhome{
  background: url('../nescafe/img/icon.png') no-repeat -672px -141px;
	width: 22px;
	height: 24px;
}


.header_nav{
  display: flex;
  justify-content: center;
  height: 60px;
  overflow: hidden;
  
}

.header_nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.header_nav:hover{
  height: 250px;
  transition-duration: 0.5s;
}

.header_nav ul:last-child{
  margin: 0;
}

.header_nav li{
  line-height: 36px;
  font-size: 14px;
}

.header_nav li:hover{
  font-weight: bold;
}

.header_nav li:first-child{
  font-weight: bold;
  margin-bottom: 24px;
}

.left_menu_back{
  display: none;
}

