*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none; /*링크 속성 글자 밑줄 없앰*/
}
li{
  list-style: none; /*항목태그 블릿 아이콘 장식 없앰*/
}
img{
  display: block; /*인라인 속성을 지니고 있는 img 태그의 오차 간격을 업새기 위하 속성 변경*/
  border: none; /*img 태그의 모든 테두리 선은 없음으로 초기화*/
}
body{
  font-family: 'Verdana'; /*폰트*/
  font-size: 14px; /*글자크기*/
  color: black; /*글자색상*/
  line-height: 28px; /*줄간격*/
}