header{
  width: 100%;
  height: 70px;
  background-color: #f7f8fa;
}

h1{
  float: left;
  position: relative;
  height: 70px;
}
.logo{
	background: url('../img/naverband/spr_intro.png') no-repeat 0 -98px;
	width: 78px;
	height: 29px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 24px;
}
header>h1>span{
 width: 1px;
 height: 1px;
 overflow: hidden;
 position: absolute;
}

nav{
  float: right;
}



#language{
  width: 80px;
  border: none;
}