:root{
  --red:#e5001c;
  --green:#019682;
  --blue:#009beb;
  --text-gray:#222222;
  --line--gray: #eeeeee;
}

.body{
  color: var(--text-gray);
}

header{
  width: 100%;
  height: 124px;
  border-bottom: 4px solid var(--red);
}

.nintendo-logo{
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #eeeeee;
}

.nintendo-logo figure{
  width: 80px;
  height: 20px;
  margin: 0 auto;
  padding-top: 13px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.nav-container{
  width: 90%;
  max-width: 1000px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

h1{
  position: relative;
}

h1>span{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
}

h1>figure>img{
  width: 151px;
  height: 34.78;
}

nav>ul{
  display: flex;
}

ul>a{
  text-decoration: none;
  color: var(--text-gray);
}

ul>a>li{
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.nav-qna{
  margin-right: 0;
}

.nav-about{
  color: var(--red);
}

ul>a>li::after{
  overflow: visible;
  margin-top: 7px;
  font-size: 13px;
  content: "▲";

}

.nav-top::after,.nav-line-up::after,.nav-software::after,.nav-qna::after{
  opacity: 0;
}

.nav-top:hover:after,.nav-line-up:hover::after,.nav-software:hover::after,.nav-qna:hover::after{
  opacity: 100%;
}

.nav-line-up:hover{
  color: #b1cf2f;
}

.nav-software:hover{
  color: #009ced;
}

.nav-qna:hover{
 color: #f6b522;
}

.about-amiibo{
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--line--gray);
}

.about-amiibo-box{
  width: 90%;
  max-width: 1000px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-amiibo-box>h2{
  font-size: 28px;
  color: var(--red);
  font-weight: bold;
}

.about-amiibo-box>span{
  font-size: 12px;
  font-weight: bold;
}

.chapter{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--line--gray);
}

.chapter-box{
  width: 90%;
  max-width: 1000px;
  height: 45px;
  display: flex;
  align-items: center;
}

.chapter-box>{
  width: 18px;
  height: 14px;
}

.chapter-box>span{
  font-size: 12px;
  margin-left: 4px;
  font-weight: bold;
}

.chapter-amiibo{
  color: #999999;
}

.chapter-box>.chapter-about{
  color: var(--red);
}

.top-banner{
  width: 100%;
  height: 780px;
  background: url(../img/nintendo/contents_01_bg.jpg);
  display: flex;
  justify-content: center;
}

.top-banner-container{
  width: 90%;
  max-width: 1000px;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-banner-container>figure{
  cursor: pointer;
  margin-bottom: 24px;
}

.top-banner-container>p:nth-child(2){
  font-size: 28px;
  font-weight: bold;
  color: var(--red);
  margin: 24px 0;
}

.top-banner-container>p:nth-child(3){
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-bottom: 88px;
}

.info-news{
  background-color: #f9f9f9;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.info-news-container{
  max-width: 1000px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.news{
  display: flex;
  margin-bottom: 80px;
  gap: 32px;
}

.news-img{
  width: 420px;
  height: 236px;
  position: relative;
}

.news-img>figure:last-child{
  position: absolute;
  bottom: -50px;
}

.img-front-1{
  right: -67px;
}

.img-front-2{
  right: -40px;
}

.news-text{
  font-weight: bold;
  padding-bottom: 40px;
  border-bottom: 1px solid #dddddd;
}

.news-text>h3{
  font-size: 34px;
  margin-bottom: 32px;
}

.splatoon-info>span, .super-info>span{
  font-size: 24px;
}

.splatoon-info, .super-info{
  margin-bottom: 24px;
  line-height: 28px;
}

.splatoon-h3, .splatoon-info>span{
  color: var(--red);
}

.super-h3, .super-info>span{
  color: var(--blue);
}

.news-text>:last-child{
  color: #666666;
  font-size: 15px;
  line-height: 18px;
}




