:root{
  --new-color:#c9672c;
  --background-gray:#f9f9fa;
  --text-color: #1d1d1f;
  --apple-blue: #0066cc;
  --apple-blue-hover:#0077ed;
  --footer-border: #d2d2d7;
  --footer-text: #6E6E73;
}

header{
  background-color: #333333;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
}


.nav1-ul{
  display: flex;
  width: 996px;
  justify-content: space-between;
}

.nav1-li>a>figure{
  background-repeat: no-repeat;
  padding: 0 8px;
  background-position: center;
  opacity: 0.7;
}

.nav1-li>a:hover > figure{
  opacity: 100;
}

.nav1-apple-logo{
  background: url(../img/apple/globalnav_apple_image__b5er5ngrzxqq_large.svg);
  width: 13px;
  height: 44px;

} 

.nav1-store{
  background: url(../img/apple/globalnav_links_store_image__c7jy08initqq_large.svg);
  width: 30px;
  height: 44px;
} 

.nav1-mac{
  background: url(../img/apple/globalnav_links_mac_image__dazlko3t9a6a_large.svg);
  width: 22px;
  height: 44px;
} 

.nav1-ipad{
  background: url(../img/apple/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg);
  width: 24px;
  height: 44px;
} 

.nav1-iphone{
  background: url(../img/apple/globalnav_links_iphone_image__ko7x4isga4ia_large.svg);
  width: 38px;
  height: 44px;
} 

.nav1-watch{
  background: url(../img/apple/globalnav_links_watch_image__gkoblojrlsqe_large.svg);
  width: 35px;
  height: 44px;
} 

.nav1-Airpods{
  background: url(../img/apple/globalnav_links_airpods_image__f969s84ivmaa_large.svg);
  width: 43px;
  height: 44px;
} 

.nav1-tv-home{
  background: url(../img/apple/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg);
  width: 42px;
  height: 44px;
} 

.nav1-only{
  background: url(../img/apple/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg);
  width: 80px;
  height: 44px;
} 

.nav1-acc{
  background: url(../img/apple/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
  width: 40px;
  height: 44px;
} 

.nav1-costomer{
  background: url(../img/apple/globalnav_links_support_image__bw9kctll7u3m_large.svg);
  width: 39px;
  height: 44px;
} 

.nav1-magnifier{
  background: url(../img/apple/globalnav_search_image__cbllq1gkias2_large2.svg);
  width: 15px;
  height: 44px;
} 

.nav1-bag{
  background: url(../img/apple/globalnav_bag_image__yzte50i47ciu_large.svg);
  width: 13px;
  height: 44px;
} 

.nav1-name{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
}

/* 2번째 메뉴 */

.nav2{
  width: 100%;
  height: 115px;
  background-color: var(--background-gray);
}

.nav2>ul{
  justify-content: space-between;
  width: 532px;
  margin: 0 auto;
}

.nav2-li{
  display: inline-block;
  margin-right: 24px;
}

.nav2-li:last-child{
  margin: 0;
}

.nav2-li-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  padding: 0 8px;
}

.nav2-li-box:hover > span{
  color: var(--apple-blue);
}

.nav2-a{
  text-decoration: none;
}

.pro13-icon{
  background: url(../img/apple/macbook_pro_13__8ltz4jpneuam_large.svg);
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
}

.pro1416-icon{
  background: url(../img/apple/macbook_pro_14_and_16__f6lz56ku7x6y_large.svg);
  width: 85px;
  height: 54px;
  background-repeat: no-repeat;
}


.comparison{
  background: url(../img/apple/mac_comp__fllvcmpizj22_large.svg);
  width: 45px;
  height: 54px;
  background-repeat: no-repeat;
}

.nav2-acc{
  background: url(../img/apple/mac_acc__e224sszexwuq_large.svg);
  width: 34px;
  height: 54px;
  background-repeat: no-repeat;
}

.monterey{
  background: url(../img/apple/mac_osx__dkiwfazkiaaa_large.svg);
  width: 35px;
  height: 54px;
  background-repeat: no-repeat;
}

.nav2-span{
  font-size: 11px;
  text-align: center;
  color: #1d1d1f;
  margin-top: 8px;

}

.nav2-li-box>p{
  font-size: 10px;
  text-align: center;
  color:var(--new-color);
  text-decoration: none;
  margin-top: 4px;
}

/* 메인배너 */

.mainbanner{
  height: 757px;
  padding-top: 66px;
  padding-bottom: 80px;
}

h1{
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}

.modle13{
  margin-right: 64px;

}

.banner-13{
  background: url(../img/apple/hero_13__d1tfa5zby7e6_large.jpg);
  width: 398.59px;
  height: 218px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px 0 80px 0;
}

.banner-1416{
  background: url(../img/apple/hero_14_16__bux8byft94oi_large.jpg);
  width: 578px;
  height: 258px;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.mainbanner-new{
  font-size: 12px;
  line-height: 18px;
  color: var(--new-color);
  font-weight: bold;
}

.mainbanner-bottom{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
}

.mainbanner h2{
  color: var(--text-color);
  font-size: 14px;
  margin-top: 8px;
}

.mainbanner h3{
  font-size: 40px;
  font-weight: bold;
  margin: 24px 0;
}

.mainbanner-cost{
  font-size: 24px;

}

.buymore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.buymore>a:first-child{
  background-color: var(--apple-blue);
  color: white;
  width: 86px;
  height: 36px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  line-height: 36px;
}

.buymore>a:first-child:hover{
  background-color: var(--apple-blue-hover);
}

.more:hover{
  text-decoration: underline;
}


.buymore>a:last-child{
  color: var(--apple-blue);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  margin-left: 12px;
}



/* 섹션 - 맥 선택 */

.choice-Mac{
  width: 100%;
  background-color: var(--background-gray);
  padding: 110px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.choice-Mac>h2{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

/* 그리드 영역 */
/* 그리드 이름 지정 13*/

.choice-13-img{
  grid-area: choice-13-img;
  justify-content: flex-end;
}

.choice-13-buybotton{
  grid-area: choice-13-buybotton;
}

.choice-13-chip{
  grid-area: choice-13-chip;
}

.choice-13-cpu{
  grid-area: choice-13-cpu;
}

.choice-13-gpu{
  grid-area: choice-13-gpu;
}

.choice-13-memory{
  grid-area: choice-13-memory;
}

.choice-13-TB{
  grid-area: choice-13-TB;
}

.choice-13-display{
  grid-area: choice-13-display;
}

.choice-13-camera{
  grid-area: choice-13-camera;
}

.choice-13-weight{
  grid-area: choice-13-weight;
}

.choice-13-Touch-bar{
  grid-area: choice-13-Touch-bar;
}

/* 그리드 이름 지정 14*/
.choice-14-img{
  grid-area: choice-14-img;
  justify-content: flex-end;
}

.choice-14-buybotton{
  grid-area: choice-14-buybotton;
}

.choice-14-chip{
  grid-area: choice-14-chip;
}

.choice-14-cpu{
  grid-area: choice-14-cpu;
}

.choice-14-gpu{
  grid-area: choice-14-gpu;
}

.choice-14-memory{
  grid-area: choice-14-memory;
}

.choice-14-TB{
  grid-area: choice-14-TB;
}

.choice-14-display{
  grid-area: choice-14-display;
}

.choice-14-camera{
  grid-area: choice-14-camera;
}

.choice-14-weight{
  grid-area: choice-14-weight;
}

.choice-14-TouchID{
  grid-area: choice-14-TouchID;
}

/* 그리드 이름 지정 16*/
.choice-16-img{
  grid-area: choice-16-img;
}

.choice-16-img{
  grid-area: choice-16-img;
}

.choice-16-buybotton{
  grid-area: choice-16-buybotton;
}

.choice-16-chip{
  grid-area: choice-16-chip;
}

.choice-16-cpu{
  grid-area: choice-16-cpu;
}

.choice-16-gpu{
  grid-area: choice-16-gpu;
}

.choice-16-memory{
  grid-area: choice-16-memory;
}

.choice-16-TB{
  grid-area: choice-16-TB;
}

.choice-16-display{
  grid-area: choice-16-display;
}

.choice-16-camera{
  grid-area: choice-16-camera;
}

.choice-16-weight{
  grid-area: choice-16-weight;
}

.choice-16-TouchID{
  grid-area: choice-16-TouchID;
}

/* 그리드 안에 이미지 삽입 */

.mac13-img{
  background: url(../img/apple/compare_mbp13__e0rrkgjx9zqu_large.png);
  width: 212px;
  height: 124px;
}

.mac14-img{
  background: url(../img/apple/compare_mbp14__f17pgqjk7syi_large.png);
  width: 214px;
  height: 130px;
}

.mac16-img{
  background: url(../img/apple/compare_mbp16__b991itovw9py_large.png);
  width: 236px;
  height: 146px;
}

.color-img{
  background: url(../img/apple/compare_swatches_two_colors__ixtvuxzl4si2_large.png);
  width: 32px;
  height: 14px;
}

.m1-img{
  background: url(../img/apple/compare_icon_m1__e07cz83uttaq_large.png);
  width: 48px;
  height: 40px;
}

.m1-pro-img{
  background: url(../img/apple/compare_icon_m1_pro_max__bzfwqn8nwb2a_large.png);
  width: 90px;
  height: 40px;
}

.memory-img{
  background: url(../img/apple/compare_icon_unified_memory__ffifjo8779u2_large.png);
  width: 48px;
  height: 44px;
}

.battery-img{
  background: url(../img/apple/compare_icon_battery__d32jskk45sk2_large.png);
  width: 48px;
  height: 44px;
}

.camera-img{
  background: url(../img/apple/compare_icon_camera__bt6xt5ej5yly_large.png);
  width: 48px;
  height: 44px;
}

.Touch-bar-img{
  background: url(../img/apple/compare_icon_touch_id_touch_bar__es4l9y6jl0qe_large.png);
  width: 48px;
  height: 44px;
}

.TouchID-img{
  background: url(../img/apple/compare_icon_touchid__b765mn70rh36_large.png);
  width: 48px;
  height: 44px;
}

/* 그리드 설정 및 스타일 지정 */

.how-to-choose{
  width: 940px;
  margin-top: 88px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, auto);
  grid-row-gap: 39px;
  grid-column-gap: 34px;
  grid-template-areas:
    "choice-13-img choice-14-img choice-16-img"
    "choice-13-buybotton choice-14-buybotton choice-16-buybotton"
    "choice-13-chip choice-14-chip choice-16-chip"
    "choice-13-cpu choice-14-cpu choice-16-cpu"
    "choice-13-gpu choice-14-gpu choice-16-gpu"
    "choice-13-memory choice-14-memory choice-16-memory"
    "choice-13-TB choice-14-TB choice-16-TB"
    "choice-13-display choice-14-display choice-16-display"
    "choice-13-battery choice-14-battery choice-16-battery"
    "choice-13-camera choice-14-camera choice-16-camera"
    "choice-13-weight choice-14-weight choice-16-weight"
    "choice-13-Touch-bar choice-14-TouchID choice-16-TouchID";
}

.how-to-choose>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h4{
  font-size: 21px;
  font-weight: bold;
}

.how-to-choose>div p{
  font-size: 14px;
  text-align: center;
  margin: 12px;
  color: var(--text-color);
}

.square{
  display: inline-block;
  vertical-align:super;
  font-size: 9px;
  text-decoration: none;
  color: var(--text-color);
}

.color-img{
  margin-top: 24px
}

.how-to-choose>div .choice-new{
  color: var(--new-color);
  font-size: 12px;
}

.how-to-choose>div>h3{
  font-size: 21px;
  font-weight: bold;
}

.choice-13-buybotton, .choice-14-buybotton, .choice-16-buybotton{
  margin-top: -24px;
  padding-bottom: 32px;
  border-bottom: solid 1px lightgray;
}
.choice-13-buybotton>a:first-child, .choice-14-buybotton>a:first-child, .choice-16-buybotton>a:first-child{
    background-color: var(--apple-blue);
    color: white;
    width: 60px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 30px;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    line-height: 24px;
}


.choice-13-buybotton>a:last-child, .choice-14-buybotton>a:last-child, .choice-16-buybotton>a:last-child{
  text-decoration: none;
  color: var(--apple-blue);
  margin-top: 12px;
  font-size: 12px;
}

.choice-13-Touch-bar, .choice-14-TouchID, .choice-16-TouchID{
  padding-bottom: 43px;
  border-bottom: 1px solid lightgray;
}

.choice-more{
  padding-top: 43px;
}

.choice-more>a>span:hover{
  text-decoration: underline;
}

.choice-more>a{
  font-size: 16px;
  color: var(--apple-blue);
  text-decoration: none;
}

.choice-more>a:first-child{
  margin-right: 32px;
}

/* 서포트 섹션 */

.sport-section{
  padding: 32px;
}

.sport-top{
  margin-bottom: 32px;
}

.sport-top, .sport-bottom{
  display: flex;
  justify-content: center;
}

.sport-acc, .sport-trade{
  width: 50%;
  max-width: 675px;
  height: 750px;
  padding-top: 64px;
  text-align: center;
  box-sizing: border-box;
}

.sport-acc{
  margin-right: 16px;
  background: url(../img/apple/accessories__geg8014ci2mq_large.jpg);
  background-repeat: no-repeat;
  background-position: 0 260px;
  background-color: #f2f2f2;
}

.sport-trade{
  margin-left: 16px; 
  background: url(../img/apple//trade_in__bfsmrecu4uhe_large.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #f2f2f2;
}

.sport-work, .sport-edu{
  width: 50%;
  height: 600px;
  max-width: 675px;
  text-align: center;
  color: white;
  position: relative;
}

.sport-work{
  background-image: url(../img/apple/business__ww84q61opmqy_large.jpg);
  margin-right: 16px;
  background-repeat: no-repeat;
}

.sport-edu{
  background-image: url(../img/apple/education__d82em19gb3ue_large.jpg);
  margin-left: 16px;
  background-repeat: no-repeat;
}

.sport-section h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.sport-section h3{
  font-size: 40px;
  font-weight: bold;
  line-height: 56px;
}

.sport-top h3{
  margin: 0 90px;
  margin-bottom: 16px;
}

.sport-section p{
  font-size: 15px;
}

.sport-top p{
  margin: 0 130px;
}


.sport-acc>a{
  background-color: var(--apple-blue);
  text-decoration: none;
  color: white;
  width: 85px;
  height: 36px;
  border-radius: 30px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
}

.sport-acc>a:hover{
  background-color: var(--apple-blue-hover);
}

.sport-trade>p{
  line-height: 24px;
  margin-bottom: 16px;
}

.sport-trade>a{
  color: var(--apple-blue);
  text-decoration: none;
}

.sport-trade>a>span:hover{
  text-decoration: underline;
}

.sport-bottom-text{
  width: 365px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sport-bottom-text>p{
  font-size: 15px;
  margin: 24px 0;
  font-weight: bold;
}

.sport-bottom-text>a{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.sport-work>.sport-bottom-text>a:last-child{
  margin-top: 16px;
}

/* 서비스 섹션 */

.service{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.delivery, .finance{
  width: 382px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service figure{
  background-position: center;
  background-repeat: no-repeat;
}

.service h2{
  margin: 24px 0;
  font-weight: bold;
  font-size: 18px;
  color: var(--text-color);
}

.service p{
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.finance>a, .delivery>a{
  color: var(--apple-blue);
  text-decoration: none;
  margin-top: 24px;
}

.delivery-icon{
  background: url(../img/apple/icon_free_delivery__gko0equ2lxim_large.png);
  width: 40px;
  height: 44px;
}

.finance-icon{
  background: url(../img/apple/icon-finance__bz6oi5bk7f2a_large.svg);
  width: 40px;
  height: 44px;
}

/* fotter */

footer{
  width: 100%;
  height: 850px;
  background-color: var(--background-gray);
}

.footer-container{
  width: 100%;
  max-width: 980px;
  margin: 0 auto;

}


.infotext{
  box-sizing: border-box;
  font-size: 11px;
  line-height: 16px;
  color: #6E6E74;
  border-bottom: 1px solid var(--footer-border);
  padding-top: 12px;
}

.infotext ol{
  list-style: decimal;
  padding-left: 12px;
}

.infotext li{
  margin: 12px 0;
}

.chapter{
  display: flex;
  font-size: 12px;
  line-height: 24px;
  margin-top: 12px;
  color: #424245;
}

.chapter>a{
  text-decoration: none;
  color: #424245;
  margin-right: 4px;
}

.next{
  font-size: 24px;
  color: var(--footer-border);
  margin-right: 4px;
}

.footer-apple-logo {
	background: url(../img/apple/icon_large.svg) no-repeat -1px -1px;
	width: 12px;
	height: 16px;
  margin-top: 4.5px;
}

.footer-menu{
  font-size: 11px;
  display: flex;
}

.menu{
  margin-right: 88px;
}

.menu-ul{
  margin-top: 32px;
}

.menu-ul>li{
  margin-top: 12px;
  color: #424245;
}

.menu-ul>li>a{
  text-decoration: none;
  color: #424245;
  color: var(--text-color);
}

.menu-ul>h3{
  font-weight: bold;
  color: #1d1d1f;
}

.end{
  margin-top: 36px;
  font-size: 12px;
}

.shopping{
  padding: 12px 0;
  border-bottom: 1px solid var(--footer-border);
  color: var(--footer-text);
}

.shopping>a{
  color: var(--apple-blue);
  text-decoration: none;
}

.copy{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  color: var(--text-color);
  color: #424245;
}

.copy>ul{
  display: flex;
}

.copy>ul>li{
  margin-right: 8px;
}

.copy>ul>li>a{
  color: #424245;
  text-decoration: none;
}

.copy>ul>li:last-child{
  margin: 0;
}

@media screen and (min-width:1070px)
  
}